<div style="text-align: center">
    <h1 class="violeta">Hola {{destino}}</h1>
    <app-fechaactual></app-fechaactual>
    <app-viewmodelo></app-viewmodelo>
    <app-ejmetodo></app-ejmetodo>
    <div class="container">
        <h3>Ejemplo de Property Binding</h3>
        <hr>
        <app-ejpropertybinding></app-ejpropertybinding>
    </div>
    <br><br>
    <div class="container">
        <h3>Ejemplo de Event Binding</h3>
        <hr>
        <app-ejeventbinding></app-ejeventbinding>
    </div>
    <br><br>
    <div class="container">
        <h3>Ejemplo de Two Way Binding</h3>
        <hr>
        <app-ej2waybinding></app-ej2waybinding>
    </div>
    <br><br>
    <div class="container">
        <h3>Ejemplo de Directiva ngIF</h3>
        <hr>
        <app-ejdirectivagif></app-ejdirectivagif>
    </div>
    <br><br>
    <div class="container">
        <h3>Ejemplo de Directiva ngStyle</h3>
        <hr>
        <app-ejdirectivangstyle></app-ejdirectivangstyle>
    </div>
    <br><br>
    <div class="container">
        <h3>Ejemplo de Directiva ngClass</h3>
        <hr>
        <app-ejdiretivangclass></app-ejdiretivangclass>
    </div>
    <br><br>
    <div class="container">
        <h3>Ejemplo de Directiva ngFor</h3>
        <hr>
        <app-ejdirectivangfor></app-ejdirectivangfor>
    </div>
    <br><br>
    <div class="container">
        <h3>Ejemplo de Directiva ngFor con objetos</h3>
        <hr>
        <app-ejarrayobjetos></app-ejarrayobjetos>
    </div>
    <br><br>
    <div class="container">
        <h3>Ejemplo de Directiva ngSwitch</h3>
        <hr>
        <app-ejdirectivangsiwtch></app-ejdirectivangsiwtch>
    </div>
    <br><br>
    <div class="container">
        <h3>Ejemplo de Directiva propia con HostBinding y HostListener</h3>
        <hr>
        <app-ejmidirectiva></app-ejmidirectiva>
    </div>
    <br><br>
    <div class="container">
        <h3>Ejemplo de @Input</h3>
        <hr>
        <app-padre></app-padre>
    </div>
    <br><br>
    <div class="container">
        <h3>Ejemplo de Pipe Date</h3>
        <hr>
        <app-fechaactual2></app-fechaactual2>
    </div>

    <br><br>
    <div class="container">
        <h3>Ejemplo de Pipe Uppercase</h3>
        <hr>
        <app-fechaactual3></app-fechaactual3>
    </div>

    <br><br>
    <div class="container">
        <h3>Ejemplo de Pipe Number</h3>
        <hr>
        <app-fechaactual4></app-fechaactual4>
    </div>

    <br><br>
    <div class="container">
        <h3>Ejemplo de Pipe Currency</h3>
        <hr>
        <app-fechaactual5></app-fechaactual5>
    </div>
    <br><br>
    <div class="container">
        <h3>Ejemplo de Pipe i18nSelect</h3>
        <hr>
        <app-fechaactual6></app-fechaactual6>
    </div>

    <br><br>
    <div class="container">
        <h3>Ejemplo de Pipe propio</h3>
        <hr>
        <app-fechaactual7></app-fechaactual7>
    </div>

</div>