<!-- <h3>Componente Hijo</h3> -->
<div class="hijo">
    <!-- Datos entre componentes 1 -->
    <!-- <h4>{{ aviso }}</h4> -->

    <!-- Datos entre componentes 2 -->
    <h4 [ngClass]="{tachado: leido == true}" style="display: inline">{{ aviso }}</h4>
    <button class="btn btn-success float-md-right" (click)="marcar(); detectar($event)" *ngIf="leido == false">Marcar como leido</button>
    <button class="btn btn-danger float-md-right" (click)="marcar()" *ngIf="leido == true">Desmarcar como leido</button>
</div>